* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.events {
    display: flex;
    height: 40vh;
    
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow:scroll;
    max-width: max-content;

}

img {
    /* height: 100%; */
    height: 50%;
    /* width: 50%; */
    /* max-width: 300px;  */
    object-fit: cover; 
    border-radius: 5%; 
}

.content {
    padding: 30px;
    max-width: 600px;
}

.content h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.content p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: justify;
    color: #555;
}

/* Optional hover effect for the whole container */
.sih:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px); /* Adds a smooth hover effect */
    transition: all 0.3s ease-in-out;
}